.p-card {
  background-color: transparent !important;
  box-shadow: none !important;
}

.p-card-body {
  padding: 4rem !important;
}

.p-inputgroup-addon {
  background-color: #a4cca7 !important;
  border-color: #37693b !important;
}
.p-inputtext,
.input_text::placeholder,
.p-inputtext::placeholder {
  color: #000000 !important;
  background-color: #eaf7f1 !important;
  border-color: #37693b !important;
}

.icons_form,
.input_text.p-filled {
  color: black;
}

.p-button {
  background-color: #a4cca7 !important;
  border-color: #37693b !important;
}

.p-button-label {
  color: #000000;
}

.question_signup {
  color: #000000;
}

.tosignup {
  text-decoration: none;
  color: #174b1b;
}

.messageError {
  margin-left: 0;
  color: #ff0000;
}