.mapRoute {
    margin-top: 3%;
    position: initial;
}

@media screen and (max-width: 450px){ 
    .notifyCard { 
        margin-top: 70%;
    }
}

@media screen and (min-width: 450px){
    .notifyCard {
        margin-top: 16%; 
    }
}

.loadingMapRoute{
    top: 250px;
    left: 47%;
  }